---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mydep
spec:
  replicas: 3
  selector:
    matchLabels:
      app: swiggy
  template:
    metadata:
      name: mytemp
      labels:
        app: swiggy
    spec:
      containers:
        - name: mycont
          image: shaikmustafa/paytm:bus
          ports:
            - containerPort: 80
